{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>

    {% if product.imageFilename %}
        <img src="/uploads/products/{{ product.imageFilename }}" alt="{{ product.title }}" class="img-fluid mb-3">
    {% endif %}

    <p>{{ product.description }}</p>
    <p class="fw-bold">Prix : {{ product.price }} €</p>

    <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à l'accueil</a>
{% endblock %}
